# NOTE: This file is for running the test of the Smart Contracts in the ./test/circuits directory.

# OKX DEX API
API_KEY=""
SECRET_KEY=""
PASS_PHRASE=""

# OKX DEX API for OKX DEX SDK
OKX_API_KEY=""
OKX_SECRET_KEY=""
OKX_API_PASSPHRASE=""
OKX_PROJECT_ID=""